@model Miss1988.Models.Mon
@{
    ViewBag.Title = "Xóa món";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="bg-success">Xóa sản phẩm</h2>
<h4 class="alert-danger">Bạn thật sự muốn xóa à?</h4>

@Html.Partial("PVMonInfo", Model)

<div style="padding:10px">
    @using (Html.BeginForm("Delete", "Mon", FormMethod.Post, new { area = "Admin" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.MonID)

        <input type="submit" value="Xóa" class="btn btn-danger btn-sm" />
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary btn-sm" })
    }
</div>
