@model Miss1988.Models.Mon
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">@ViewBag.Title</h2>

@Html.Partial("PVMonInfo", Model)

<div style="padding:10px">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MonID }, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-default btn-sm" })
</div>
